@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.halaman {
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
}

.halaman li {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.halaman li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
}

.previous-page, .next-page {
    background: #0AB1CE;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: .3s ease;
}

.previous-page:hover {
    transform: translateX(-5px);
}

.next-page:hover {
    transform: translateX(5px);
}

.current-page, .dots {
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease;
}

.current-page:hover {
    transform: translateY(-5px);
    background: #0AB1CE;
}

.dots:hover {
    transform: translateY(-5px);
    background: #0AB1CE;
}

.aktif {
    background: #0AB1CE;
}

.disable {
    background: #ccc;
}
